{% extends "layout/base.html" %}

{% block content %}
<section class="my-4">
    <div class="container">
        <div class="row">

            <div class="col-lg-9">
                {% for post in posts %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <a href="#" class="mt-0">{{ post.author }}</a>
                                    <small class="text-muted">posté le {{ post.created_date|date:"d F Y" }}</small>
                                    <hr>
                                    <h6><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h6>
                                    <p>{{ post.content|linebreaks }}</p>
                                    <h6>Catégorie :<a href="{% url 'blog:post_list_by_category' post.category.slug %}"> {{ post.category }}</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-3">
                <div class="list-group">
                  <a href="{% url 'blog:post_list' %}" class="list-group-item list-group-item-action bg-color-list-group"> Catégories</a>
                    {% for category in categories %}
                    <a href="{% url 'blog:post_list_by_category' category.slug %}" class="list-group-item list-group-item-action">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1" class="btn btn-outline-info">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-info">previous</a>
                {% endif %}

                {% for num in posts.paginator.page_range %}
                    {% if contacts.number == num %}
                    <a href="?page={{ num }}" class="btn btn-outline-info">{{ num }}</a>
                    {% elif num > posts.number|add:'-2' and num < posts.number|add:'2' %}
                    <a href="?page={{ num }}" class="btn btn-outline-info">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="btn btn-outline-info">next</a>
                    <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-outline-info">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
</section>

{% endblock content %}