<section class="mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <ul class="list-group list-group-horizontal-xl">
                  <li class="list-group-item"><a href="{% url 'profil' %}">Tableau de bord</a></li>
                  <li class="list-group-item"><a href="{% url 'profil-update' %}">Mon Compte</a></li>
                  <li class="list-group-item"><a href="#">Mes Posts</a></li>
                  <li class="list-group-item"><a href="#">Publier une annonce</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>